<form name="editContactForm">
  <div class="modal-header">
    <h1>Edit {{contact.name}}</h1>
  </div>
  <div ng-show="editContactForm.$invalid" style="color:red">Error</div>
  <div class="modal-body">
    <p>Имя<input ng-model="contact.name" name="name"/><div style="color:red">{{errors.name}}</div></p>
    <p>Email<input ng-model="contact.email" name="email"/></p>
    <p>Phone<input ng-model="contact.phone" name="phone"/><div style="color:red">{{errors.phone}}</div></p>
  </div>
  <div class="modal-footer">
    <button ng-click="save()" ng-disabled="isClean()" class="btn btn-primary" >Save</button>
    <button ng-click="close()" class="btn" >close</button>
  </div>
</form>